<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Display</title>
</head>
<body>
        <h1>Customer Display</h1>
        <p>Show of current customers relevant information</p>
    <div id="CdisplayBox">
        
    </div>
</body>
<script>

</script>
</html>