<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic Display</title>
</head>
<body>
    <h1>Mechanic Display</h1>
    <p>Show of current mechanic's former tickets</p>
    <div id="MdisplayBox">

    </div>
</body>
<script>

</script>
</html>